In [1]:
import pandas as pd
import numpy as np

In [2]:
test_data = pd.DataFrame(np.arange(36).reshape(6,6),columns=('alpha','bravo','charlie','delta','echo','foxtrot'))

In [3]:
test_data

   alpha  bravo  charlie  delta  echo  foxtrot
0      0      1        2      3     4        5
1      6      7        8      9    10       11
2     12     13       14     15    16       17
3     18     19       20     21    22       23
4     24     25       26     27    28       29
5     30     31       32     33    34       35

In [4]:
def num_mod(cellNum):
    if cellNum % 2 == 0:
        return cellNum, "is even"
    else:
        return cellNum, "is odd"

In [5]:
test_data.ix[0:2,0:3].applymap(num_mod)

           alpha         bravo        charlie
0   (0, is even)   (1, is odd)   (2, is even)
1   (6, is even)   (7, is odd)   (8, is even)
2  (12, is even)  (13, is odd)  (14, is even)

In [6]:
def row_add(row):
    return row.loc['bravo'] + row.loc['delta'] + row.loc['foxtrot']

In [7]:
test_data.apply(row_add,axis = 1)

0     9
1    27
2    45
3    63
4    81
5    99
dtype: int64